<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Visual Knowledge Graph Editing Tool">
<meta name="author" content="ales.woska@gmail.com">

<link href="favicon.png" rel="icon" type="image/png" />

<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />
<link rel="stylesheet" type="text/css" href="css/fix.css" />
<link rel="stylesheet" type="text/css" href="css/vkget.css" />
<link rel="stylesheet" type="text/css" href="css/joint.min.css" />

<script src="js/jquery-1.12.2.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/lodash.min.js"></script>
<script src="js/backbone.min.js"></script>
<script src="js/joint.min.js"></script>
<script src="edit_layout.js"></script>

<title>Visual Knowledge Graph Editing Tool Home</title>
</head>

<body>
	<div ng-app="vkget" ng-controller="layoutController">
		<div ng-include="'menu.html'"></div>
		<div class="alert alert-danger fade in hidden">
		    <a href="#" class="close" data-dismiss="alert">&times;</a>
		    <strong>Error!</strong> A problem has been occurred while submitting your data.
		</div>

		<div class="container">
		
			<div ng-if="!uri" class="page-header">
				<h1>Create new layout</h1>
			</div>
			<div ng-if="uri" class="page-header">
				<h1>edit {{screenLayout.name}}</h1>
			</div>
			
			<div>
				<a type="button" class="btn btn-default btn-success" aria-label="Left Align" ng-click="saveLayout();">
					Save
				</a>
				<a type="button" class="btn btn-default btn-warning" aria-label="Left Align" ng-click="cancel();">
					Cancel
				</a>
			</div>
		</div>
		
	
		<div>
			<div id="myholder">
				<joint-diagram graph="graph" width="1558" height="600" grid-size="10" />
				<a href="#" type="button" class="btn btn-default btn-success" aria-label="Left Align" ng-click="addTable();">
					Add table
				</a>
			</div>
		</div>
		
		<block-form id="$index" block="blockLayout" ng-repeat="blockLayout in screenLayout.blockLayouts"></block-form>

		<div id="lineModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div ng-include="'line_form.html'"></div>
				</div>
			</div>
		</div>

	</div>
	
	
</body>
</html>
