<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Visual Knowledge Graph Editing Tool">
<meta name="author" content="ales.woska@gmail.com">

<link href="favicon.png" rel="icon" type="image/png" />

<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css" />
<link rel="stylesheet" type="text/css" href="css/fix.css" />
<link rel="stylesheet" type="text/css" href="css/vkget.css" />

<script src="js/jquery-1.12.2.min.js"></script>
<script src="js/angular.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="work.js"></script>

<title>Visual Knowledge Graph Editing Tool Workbench</title>
</head>

<body ng-app="vkget" ng-controller="dataController">
	<div ng-include="'menu.html'"></div>
	
	<div id="loading">
		<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
	</div>
	
	<div id="workspace" style="display: none">
		<a id="addTableButton" type="button" class="btn btn-default" ng-hide="changes.length == 0" ng-click="confirmChanges();">
			Manage changes
		</a>
		<a id="addLineButton" type="button" class="btn btn-default btn-danger" ng-hide="changes.length == 0" ng-click="discardChanges();">
			Discard changes
		</a>

		<table ng-repeat="table in dataModel.tables" class="vkget_table"
			style="
				background-color: {{layouts[table.typeUri].background}};
				color: {{layouts[table.typeUri].fontColor}};
				font-size: {{layouts[table.typeUri].fontSize}}px;
				left: {{layouts[table.typeUri].left}}px;
				top: {{layouts[table.typeUri].top}}px;
				width: {{layouts[table.typeUri].width}}px;
				border: {{layouts[table.typeUri].lineThickness}}px {{layouts[table.typeUri].lineType}} {{layouts[table.typeUri].lineColor}};">
			
			<thead style="border-bottom: {{layouts[table.typeUri].lineThickness}}px {{layouts[table.typeUri].lineType}} {{layouts[table.typeUri].lineColor}};">
				<tr>
					<th style="border-bottom: {{layouts[table.typeUri].lineThickness}}px {{layouts[table.typeUri].lineType}} {{layouts[table.typeUri].lineColor}};"
						class="caption" colspan="{{table.columnsURIs.length}}">
						{{layouts[table.typeUri].title}} ({{(table.instances | filter : filterInstances).length}}/{{table.instances.length}})</th>
				</tr>
				<tr>
					<th class="columnCaption" ng-repeat="property in table.columnsURIs" 
						style="width: {{layouts[table.typeUri].width / table.columnsURIs.length}}px;"
						ng-click="order(this, $index);">
						{{getTitleForProperty(layouts[table.typeUri], property);}}
					</th>
				</tr>
				<tr>
					<th ng-repeat="property in table.columnsURIs" style="width: {{layouts[table.typeUri].width / table.columnsURIs.length}}px;">
						<input type="text" style="width: 100px;" ng-model="filters[table.typeUri][property]" ng-change="filterChanged(table);" />
					</th>
				</tr>
			</thead>
			
			<tbody style="height: {{layouts[table.typeUri].height}}px;">
				<tr ng-repeat="instance in table.instances | filter : filterInstances" 
					ng-click="selectInstance(table, instance);" 
					ng-class="instance == table.selectedInstance ? 'selectedInstance' : ''">
					<td ng-repeat="property in instance.literalProperties" 
						ng-right-click="contextMenu(table, instance, property)"
						style="width: {{layouts[table.typeUri].width / instance.literalProperties.length}}px;">
						{{property.value}}
					</td>
				</tr>
			</tbody>
							
		</table>
		
		<svg>
			<g ng-repeat="lineLayout in screenLayout.lineLayouts">
				<polyline
					ng-click=""
					fill="none"
					stroke="{{lineLayout.lineColor}}"
					stroke-width="{{lineLayout.lineThickness}}"
					stroke-linecap="round"
					ng-attr-stroke-dasharray="{{lineLayout.lineType == 'DASHED' ? '5,5' : (lineLayout.lineType == 'DOTTED' ? '1,5' : '')}}"
					ng-attr-points="{{lineLayout.polyline}}" />
			</g>
		</svg>
		
		<div ng-repeat="layout in screenLayout.lineLayouts" class="vkget_line_title"
			style="color: {{layout.fontColor}}; font-size: {{layout.fontSize}}px; left: {{layout.left}}px; top: {{layout.top}}px;">
			{{layout.title}}
		</div>

	</div>

	<div id="dataSourceModal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
			
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
					<h4 class="modal-title">Choose data source</h4>
				</div>
				
				<form class="form-horizontal" ng-submit="run();">
					<div class="modal-body">
						<div class="form-group">
							<label for="forType" class="col-sm-2 control-label">SPARQL Endpoint</label>
							<div class="col-sm-6">
								<input type="text" required ng-model="endpoint" class="form-control" placeholder="http://" name="endpoint" />
							</div>
						</div>
						<div class="form-group">
							<label for="forType" class="col-sm-2 control-label">Endpoint type</label>
							<div class="col-sm-6">
								<select class="form-control" required ng-model="endpointType">
									<option value="virtuoso">Virtuoso</option>
									<option value="jena">Jena</option>
									<option value="other">Other</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="forType" class="col-sm-2 control-label">Layout</label>
							<div class="col-sm-6">
								<span id="layoutLoading"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</span>
								<select id="layoutSelect" class="form-control" style="display: none;"
									required ng-model="layout" ng-options="layout.uri as layout.name for layout in layouts"></select>
							</div>
						</div>
					</div>
					
					<div class="modal-footer">
						<input type="submit" class="btn btn-default" value="Run" />
					</div>
					
				</form>
			</div>
		</div>
	</div>

	<div id="changesModal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
			
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
					<h4 class="modal-title">Changes update script</h4>
				</div>
				
				<form class="form-horizontal">
					<div class="modal-body">
						<span id="updateScriptLoading"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</span>
						<textarea id="updateScriptTextarea" style="display: none;" ng-model="updateScript"></textarea>
					</div>
					<div class="modal-footer">
						<a type="button" class="btn btn-default" ng-click="download();" />Save...</a>
						<input type="submit" class="btn btn-default btn-danger" value="Commit changes" ng-click="commitChange();" />
						<input type="submit" class="btn btn-default" value="Close" ng-click="closeChangeModal();" />
					</div>
					
				</form>
			</div>
		</div>
	</div>

	<div id="editCellModal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
			
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
					<h4 class="modal-title">Edit cell value</h4>
				</div>
				
				<form class="form-horizontal">
					<div class="modal-body">
						<div class="form-group">
							<label for="forType" class="col-sm-4 control-label">Old value</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" ng-model="oldCellValue" disabled="disabled" />
							</div>
						</div>
						<div class="form-group">
							<label for="forType" class="col-sm-4 control-label">New value</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" ng-model="editCellValue" />
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" value="Cancel" ng-click="closeEditCellModal();" />
						<input type="submit" class="btn btn-default" value="Save" ng-click="editCell();" />
					</div>
				</form>
			</div>
		</div>
	</div>

	<div id="addRowModal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
					<h4 class="modal-title">Add a new row</h4>
				</div>
				<form class="form-horizontal" ng-submit="addRow();">
					<div class="modal-body">
						<div class="form-group">
							<label for="uri" class="col-sm-4 control-label">URI</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" placeholder="URI" name="uri" required ng-model="addRowObject['uri']" />
							</div>
						</div>
						<div class="form-group" ng-repeat="literalProperty in selectedTd.instance.literalProperties">
							<label class="col-sm-4 control-label">{{literalProperty.propertyURI}}</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" ng-model="addRowObject[literalProperty.propertyURI]" />
							</div>
						</div>
						<div class="modal-footer">
							<input type="button" class="btn btn-default" value="Cancel" ng-click="closeAddRowModal();" />
							<input type="submit" class="btn btn-default" value="Save" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div id="removeLinkedPropertyModal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
					<h4 class="modal-title">Remove linked property</h4>
				</div>
				<form class="form-horizontal" ng-submit="removeLinkedProperty();">
					<div class="modal-body">
						<div class="form-group" ng-if="selectedTd.instance.objectProperties">
							<div class="col-sm-10">
							<table>
								<thead>
									<tr><th>&nbsp;</th><th>Property</th><th>Value</th><th>URI</th></tr>
								</thead>
								<tbody>
									<tr ng-repeat="objectProperty in selectedTd.instance.objectProperties">
										<td><input type="checkbox" ng-model="removeLinkedPropertyObject[objectProperty.property][objectProperty.objectUri]" /></td>
									    <td style="padding: 10px;">{{getObjectPropertyTitle(objectProperty.property);}}</td>
									    <td style="padding: 10px;">{{getObjectPropertyValue(objectProperty.objectUri);}}</td>
									    <td style="padding: 10px;">{{objectProperty.objectUri}}</td>
									</tr>
								</tbody>
							</table>
							</div>
						</div>
						<div class="form-group" ng-if="!selectedTd.instance.objectProperties">
							<div class="col-sm-6">No linked properties.</div>
						</div>
						<div class="modal-footer">
							<input type="button" class="btn btn-default" value="Cancel" ng-click="closeRemoveLinkedPropertyModal();" />
							<input ng-if="selectedTd.instance.objectProperties" type="submit" class="btn btn-default" value="Remove selected" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div id="addLinkedPropertyModal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
					<h4 class="modal-title">Add linked property</h4>
				</div>
				<form class="form-horizontal" ng-submit="addLinkedProperty();">
					<div class="modal-body">
						<div class="form-group">
							<label class="col-sm-4 control-label">Property</label>
							<div class="col-sm-6">
								<select required class="form-control" ng-model="addLinkedPropertyObject['property']"
									ng-options="lineLayout.property as getObjectPropertyTitle(lineLayout.property) for lineLayout in screenLayout.lineLayouts | filter: {fromType: selectedTd.table.typeUri}">
								</select>
							</div>
						</div>
						<div class="form-group" ng-if="addLinkedPropertyObject['property']">
							<label class="col-sm-4 control-label">Value</label>
							<div class="col-sm-6">
								<select required class="form-control" ng-model="addLinkedPropertyObject['value']" 
									ng-options="instance.objectURI as getObjectPropertyValue(instance.objectURI) for instance in getLinkedPropertyInstances(selectedTd.table.typeUri, addLinkedPropertyObject['property'])">
								</select>
							</div>
						</div>
						<div class="modal-footer">
							<input type="button" class="btn btn-default" value="Cancel" ng-click="closeAddLinkedPropertyModal();" />
							<input ng-if="addLinkedPropertyObject['property'] && addLinkedPropertyObject['value']" type="submit" class="btn btn-default" value="Save" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div id="contextMenu" class="dropdown clearfix">
		<ul class="dropdown-menu" role="menu">
			<li><a tabindex="-1" href="#" ng-click="openEditCellModal();">Edit cell</a></li>
			<li><a tabindex="-1" href="#" ng-click="removeCell();">Clear cell</a></li>
			<li class="divider"></li>
			<li><a tabindex="-1" href="#" ng-click="openAddRowModal();">Add row</a></li>
			<li><a tabindex="-1" href="#" ng-click="removeRow();">Remove row</a></li>
			<li class="divider"></li>
			<li><a tabindex="-1" href="#" ng-click="openAddLinkedPropertyModal();">Add linked property</a></li>
			<li><a tabindex="-1" href="#" ng-click="openRemoveLinkedPropertyModal();">Remove linked property</a></li>
			<li class="divider"></li>
			<li><a id="closeContextMenu" tabindex="-1" href="#" ng-click="hideContextMenu();">Close</a></li>
		</ul>
	</div>
	
	<script type="text/javascript">
	    $(window).load(function(){
	        $('#dataSourceModal').modal('show');
	    });
	</script>
	
</body>
</html>
