<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Visual Knowledge Graph Editing Tool">
<meta name="author" content="ales.woska@gmail.com">

<link href="favicon.png" rel="icon" type="image/png" />

<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css" />
<link rel="stylesheet" type="text/css" href="css/fix.css" />
<link rel="stylesheet" type="text/css" href="css/vkget.css" />

<script src="js/jquery-1.12.2.min.js"></script>
<script src="js/angular.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="work.js"></script>

<title>Visual Knowledge Graph Editing Tool Workbench</title>
</head>

<body ng-app="vkget" ng-controller="dataController">
	<div ng-include="'menu.html'"></div>
	
	<div id="loading">
		<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
	</div>
	
	<div id="workspace" style="display: none">
		<a id="addTableButton" type="button" class="btn btn-default" ng-hide="changes.length == 0" ng-click="confirmChanges();">
			Manage changes
		</a>
		<a id="addLineButton" type="button" class="btn btn-default btn-danger" ng-hide="changes.length == 0" ng-click="discardChanges();">
			Discard changes
		</a>
		<canvas id="panelCanvas" height="700px" width="1500px"></canvas>

		<table ng-repeat="table in dataModel.tables" class="vkget_table"
			style="
				background-color: {{layouts[table.typeUri].background}};
				color: {{layouts[table.typeUri].fontColor}};
				font-size: {{layouts[table.typeUri].fontSize}}px;
				left: {{layouts[table.typeUri].left}}px;
				top: {{layouts[table.typeUri].top}}px;
				width: {{layouts[table.typeUri].width}}px;
				border: {{layouts[table.typeUri].lineThickness}}px {{layouts[table.typeUri].lineType}} {{layouts[table.typeUri].lineColor}};">
			
			<thead style="border-bottom: {{layouts[table.typeUri].lineThickness}}px {{layouts[table.typeUri].lineType}} {{layouts[table.typeUri].lineColor}};">
				<tr>
					<th style="border-bottom: {{layouts[table.typeUri].lineThickness}}px {{layouts[table.typeUri].lineType}} {{layouts[table.typeUri].lineColor}};"
						class="caption" colspan="{{table.columnsURIs.length}}">
						{{layouts[table.typeUri].title}} ({{(table.instances | filter : filterInstances).length}}/{{table.instances.length}})</th>
				</tr>
				<tr>
					<th class="columnCaption" ng-repeat="property in table.columnsURIs" 
						style="width: {{layouts[table.typeUri].width / table.columnsURIs.length}}px;"
						ng-click="order(this, $index);">
						{{getTitleForProperty(layouts[table.typeUri], property);}}
					</th>
				</tr>
				<tr>
					<th ng-repeat="property in table.columnsURIs" style="width: {{layouts[table.typeUri].width / table.columnsURIs.length}}px;">
						<input type="text" style="width: 100px;" ng-model="filters[table.typeUri][property]" />
					</th>
				</tr>
			</thead>
			
			<tbody style="height: {{layouts[table.typeUri].height}}px;">
				<tr ng-repeat="instance in table.instances | filter : filterInstances" 
					ng-click="selectInstance(table, instance);" 
					ng-class="instance == table.selectedInstance ? 'selectedInstance' : ''">
					<td ng-repeat="property in instance.literalProperties" 
						style="width: {{layouts[table.typeUri].width / instance.literalProperties.length}}px;">
						{{property.value}}
					</td>
				</tr>
			</tbody>
							
		</table>
		
		<div ng-repeat="layout in screenLayout.lineLayouts" class="vkget_line_title"
			style="color: {{layout.fontColor}}; font-size: {{layout.fontSize}}px; left: {{layout.left}}px; top: {{layout.top}}px;">
			{{layout.title}}
		</div>

	</div>

	<div id="dataSourceModal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
			
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
					<h4 class="modal-title">Choose data source</h4>
				</div>
				
				<form class="form-horizontal" ng-submit="run();">
					<div class="modal-body">
						<div class="form-group">
							<label for="forType" class="col-sm-2 control-label">SPARQL Endpoint</label>
							<div class="col-sm-6">
								<input type="text" required ng-model="endpoint" class="form-control" placeholder="http://" name="endpoint" />
							</div>
						</div>
						<div class="form-group">
							<label for="forType" class="col-sm-2 control-label">Endpoint type</label>
							<div class="col-sm-6">
								<select class="form-control" required ng-model="endpointType">
									<option value="virtuoso">Virtuoso</option>
									<option value="jena">Jena</option>
									<option value="other">Other</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="forType" class="col-sm-2 control-label">Layout</label>
							<div class="col-sm-6">
								<span id="layoutLoading"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</span>
								<select id="layoutSelect" class="form-control" style="display: none;"
									required ng-model="layout" ng-options="layout.uri as layout.name for layout in layouts"></select>
							</div>
						</div>
					</div>
					
					<div class="modal-footer">
						<input type="submit" class="btn btn-default" value="Run" />
					</div>
					
				</form>
			</div>
		</div>
	</div>

	<div id="changesModal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
			
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
					<h4 class="modal-title">Changes update script</h4>
				</div>
				
				<form class="form-horizontal">
					<div class="modal-body">
						<span id="updateScriptLoading"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</span>
						<textarea id="updateScriptTextarea" style="display: none;" ng-model="updateScript"></textarea>
					</div>
					<div class="modal-footer">
						<a type="button" class="btn btn-default" ng-click="download();" />Save ...</a>
						<input type="submit" class="btn btn-default btn-danger" value="Commit changes" ng-click="commitChange();" />
						<input type="submit" class="btn btn-default" value="Close" ng-click="closeChangeModal();" />
					</div>
					
				</form>
			</div>
		</div>
	</div>

	<div id="contextMenu" class="dropdown clearfix">
		<ul class="dropdown-menu" role="menu">
			<li><a tabindex="-1" href="#">Edit cell</a></li>
			<li><a tabindex="-1" href="#">Remove cell</a></li>
			<li class="divider"></li>
			<li><a tabindex="-1" href="#">Add row</a></li>
			<li><a tabindex="-1" href="#">Remove row</a></li>
			<li class="divider"></li>
			<li><a tabindex="-1" href="#">Add linked property</a></li>
			<li><a tabindex="-1" href="#">Remove linked property</a></li>
			<li class="divider"></li>
			<li><a id="closeContextMenu" tabindex="-1" href="#">Close</a></li>
		</ul>
	</div>
	
	<script type="text/javascript">
	    $(window).load(function(){
	        $('#dataSourceModal').modal('show');
	    });
	</script>
	
</body>
</html>
