<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	
	<display-name>Visual knowledge graph editing tool</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>work</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>work</servlet-name>
		<url-pattern>/work</url-pattern>
		<url-pattern>/work.jsp</url-pattern>
		<url-pattern>/work.html</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>work</servlet-name>
		<url-pattern>/help</url-pattern>
		<url-pattern>/help.jsp</url-pattern>
		<url-pattern>/help.html</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>work</servlet-name>
		<url-pattern>/layout</url-pattern>
		<url-pattern>/layout.jsp</url-pattern>
		<url-pattern>/layout.html</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>work</servlet-name>
		<url-pattern>/layout/new</url-pattern>
	</servlet-mapping>

</web-app>