<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Visual Knowledge Graph Editing Tool">
<meta name="author" content="ales.woska@gmail.com">

<link href="favicon.png" rel="icon" type="image/png" />

<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css" />
<link rel="stylesheet" type="text/css" href="css/fix.css" />
<link rel="stylesheet" type="text/css" href="css/vkgmt.css" />

<script src="js/jquery-1.12.3.js"></script>
<script src="js/angular.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/bootstrap.js"></script>
<script src="config/config.js"></script>
<script src="edit_layout.js"></script>

<title>Visual Knowledge Graph Editing Tool Home</title>
</head>

<body>
	<div ng-app="vkgmt" ng-controller="layoutController">
		<div ng-include="'menu.html'"></div>
		
		<!-- MESSAGES -->
		<div class="messages" ng-show="messages.length > 0">
			<div ng-repeat="message in messages" class="alert alert-{{message.type}} fade in">
			    <button type="button" class="close" ng-click="cancelErrorMessage(message);"><span>&times;</span></button>
			    <strong>{{message.caption}}</strong> {{message.text}}
			</div>
		</div>
		
		<div class="container">
		
			<div class="page-header">
				<h1 ng-if="!uri">Create new layout</h1>
				<h1 ng-if="uri">Edit layout</h1>
			</div>
				
			<form class="form-horizontal" ng-submit="saveLayout();">
			
				<div class="form-group">
					<label for="fromType" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-4">
						<input type="text" required ng-model="screenLayout.name" class="form-control" placeholder="name" />
					</div>
				</div>
			
				<div class="form-group">
					<label for="fromType" class="col-sm-2 control-label"></label>
					<div class="col-sm-4">
						<a type="button" class="btn btn-default" data-toggle="modal" data-target="#namespacesModal">
							Namespaces...
						</a>
						<a type="button" class="btn btn-default" data-toggle="modal" data-target="#settingsModal">
							Settings...
						</a>
						<input type="submit" class="btn btn-default btn-success" value="Save" />
						<a type="button" class="btn btn-default btn-warning" ng-click="cancel();">
							Cancel
						</a>
					</div>
				</div>
				
			</form>

		</div>
	
		<div>
			<div id="myholder" style="width: {{screenLayout.width}}px; height: {{screenLayout.height}}px;">
				<div ng-repeat="blockLayout in screenLayout.blockLayouts" 
					ng-dblclick="openModal(blockLayout);"
					ng-mousedown="onMouseDown($event, blockLayout);"
					ng-mousemove="onMouseMove($event);"
					ng-mouseup="onMouseUp($event);"
					ng-mouseleave="onMousUp($event);"
					class="vkgmt-block"
					style="
						background-color: {{blockLayout.background}};
						color: {{blockLayout.fontColor}};
						font-size: {{blockLayout.fontSize}}px;
						left: {{blockLayout.left}}px;
						top: {{blockLayout.top}}px;
						width: {{blockLayout.width}}px;
						height: {{blockLayout.height}}px;
						border: {{blockLayout.lineThickness}}px {{blockLayout.lineType}} {{blockLayout.lineColor}};">
					{{blockLayout.forType.type}}
					<a ng-click="removeTable(blockLayout);"><span class="glyphicon glyphicon-remove"></span></a>
				</div>

				<lines-svg open-modal="toggleLineModal(lineLayout)" screen-layout="screenLayout" get-lines="getLines(lineLayout)"></lines-svg>

				<a id="addTableButton" type="button" class="btn btn-default btn-success" ng-click="addTable();">
					Add table
				</a>

				<a id="addLineButton" type="button" class="btn btn-default btn-success" ng-click="addLine();">
					Add connection
				</a>
			</div>
		</div>
		
		<div id="modals">
			<block-form block="blockLayout" langs="langs"
				add-property="addProperty(blockLayout)" remove-property="removeProperty(blockLayout, property)" update-for-type="updateForType(forType)"
				ng-repeat="blockLayout in screenLayout.blockLayouts"></block-form>
				
			<line-form ng-repeat="lineLayout in screenLayout.lineLayouts"
				line-layout="lineLayout" screen-layout="screenLayout" save-line="saveLine(lineLayout)" remove-line="removeLine(lineLayout)"></line-form>

			<div id="namespacesModal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
					
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span>&times;</span>
							</button>
							<h4 class="modal-title">Namespaces</h4>
						</div>
						
						<form class="form-horizontal">
							<div class="modal-body">
								<div class="form-group" ng-repeat="(key,value) in screenLayout.namespaces">
									<div class="col-sm-2">
										<input type="text" required ng-model="key" class="form-control" disabled="disabled" />
									</div>
									<div class="col-sm-8">
										<input type="text" required ng-model="screenLayout.namespaces[key]" class="form-control" />
									</div>
									<div class="col-sm-2">
										<a type="button" ng-click="removeNamespace(key)"><span class="glyphicon glyphicon-remove"></span></a>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-2">
										<input type="text" required ng-model="newKey" class="form-control" placeholder="prefix" />
									</div>
									<div class="col-sm-8">
										<input type="text" required ng-model="newValue" class="form-control" placeholder="namespace" />
									</div>
									<div class="col-sm-2">
										<input type="button" class="btn btn-default" value="Add" ng-click="addNamespace();" />
									</div>
								</div>
							</div>
							
							<div class="modal-footer">
								<input type="button" class="btn btn-default" value="Close" data-dismiss="modal" />
							</div>
							
						</form>
					</div>
				</div>
			</div>

			<div id="settingsModal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
					
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span>&times;</span>
							</button>
							<h4 class="modal-title">Settings</h4>
						</div>
						
						<form class="form-horizontal">
							<div class="modal-body">
								<div class="form-group">
									<label for="forType" class="col-sm-3 control-label">Filter propagation</label>
									<div class="col-sm-4">
									    <select class="form-control" ng-model="screenLayout.filterPropagation">
											<option value="NEIGHBOURS">Neighbours</option>
											<option value="ALL">All</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="forType" class="col-sm-3 control-label">Workspace width</label>
									<div class="col-sm-2">
										<input class="form-control" type="number" ng-model="screenLayout.width" />
									</div>
								</div>
								<div class="form-group">
									<label for="forType" class="col-sm-3 control-label">Workspace height</label>
									<div class="col-sm-2">
										<input class="form-control" type="number" ng-model="screenLayout.height" />
									</div>
								</div>
							</div>
							
							<div class="modal-footer">
								<input type="submit" class="btn btn-default" value="Close" data-dismiss="modal" />
							</div>
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
</body>
</html>